@tailwind base;
@tailwind components;
@tailwind utilities;

#download-files-container button {
  margin: 0.5rem 1rem;
}
#outro a {
  color: #00f;
  font-weight: bold;
}
#outro a:hover {
  text-decoration: underline;
}
.chunk {
  border: dotted 1px green;
}

@layer components {
  .tab {
    @apply py-2 px-4 bg-white inline-block 
  }
  .tab:not(.active) {
    @apply text-blue-500 hover:text-blue-800 font-semibold 
  }
  .tab.active {
    @apply border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold
  }
  #chunk-container {
    @apply grid grid-cols-1 md:grid-cols-2
  }
  .chunk {
    @apply p-4 md:p-6 
    
  }
}